@import "./custom-variables";

@mixin flexboxCenterRowWrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

@mixin flexboxCenterColumn {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

@mixin flexboxLeftColumn {
	display: flex;
	flex-flow: column nowrap;
	justify-content: left;
	align-items: center;
}
