@import "../../styles/custom-variables";

.navbar {
	background: rgba(255, 255, 255, 0) !important;
}

.h5 {
	color: map-get($bitsbotsColors, "white-full");
	text-transform: uppercase;
	text-decoration: underline;
}

.h4 {
	&:hover {
		color: map-get($bitsbotsColors, "cyan-blue-full");
		text-decoration: underline;
	}
	&:active {
		text-decoration: none;
	}

	.active {
		color: map-get($bitsbotsColors, "cyan-blue-full");
		text-decoration: underline;
	}
}

.navbarTogglerIcon {
	background-color: map-get($bitsbotsColors, "white-full");
	border: 2px solid map-get($bitsbotsColors, "light-blue");
	&:hover {
		border-width: 3px;
	}
	&:active {
		border: 3px solid map-get($bitsbotsColors, "cyan-blue-full");
	}
}
